
= link_to 'Add more people', new_person_path

= semantic_form_for(@team) do |f|

  - if @team.errors.any?
    #error_explanation
      %h2
        = pluralize(@team.errors.count, "error")
        prohibited this team from being saved:
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg

  %fieldset.inputs
    %ol
      = f.input :name
      = f.input :calendar_url
      = f.input :people, :as => :check_boxes

  .actions
    = f.submit
