%h1 Listing teams
%table
  %tr
    %th Name
  - @teams.each do |team|
    %tr
      %td= team.name
      %td.action= link_to image_tag('add.png'), team
      %td.action= link_to image_tag('edit.png'), edit_team_path(team)
      %td.action= link_to image_tag('delete.png'), team, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New Team', new_team_path

.api_sample
  = form_tag '/api' do
    Try the API:
    = text_field "annoying", "message"
    = submit_tag "ANNOY"
