%p#notice= notice
%p
  %b Name:
  = @team.name

%b Members:
%ul
  - @team.people.each do |person|
    %li.member
      = link_to person.name, person


= link_to 'Edit team', edit_team_path(@team)
|
= link_to 'Back to all teams', teams_path
|
= link_to 'Edit Calendar', @team.calendar_url

