%p#notice= notice
%p
  %b Name:
  = @person.name
%p
  %b Twitter screen name:
  = @person.twitter_screen_name
%p
  %b Email:
  = @person.email

%b Teams:
%ul
  - @person.teams.each do |team|
    %li.team
      = link_to team.name, team

= link_to 'Edit person', edit_person_path(@person)
|
= link_to 'Back to all people', people_path
