!!!
%html
  %head
    %title Annoyr
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'scaffold', 'formtastic', 'my_formtastic_changes
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .header
      %h1 Annoyr
      %h2 We need a guy to do that thing with the stuff
      %nav
        = link_to 'Teams', teams_path
        = link_to 'People', people_path
        = link_to 'Connect twitter!', connect_path
        (#{GlobalAccountSetting.twitter_on? ? "Connected" : "Disconnected"})
        = link_to 'Global Account Settings', global_account_settings_path
        = link_to 'annoyr (@annoyrbot) on twitter', "http://twitter.com/#!/annoyrbot"
    .content
      = yield
    .footer
      Ping yo shizzle
