!!!
%html
  %head
    %title Annoyr
    = stylesheet_link_tag :all, 'scaffold', 'formtastic', 'formtastic_changes'
    = javascript_include_tag :defaults, 'jquery', 'application'
    = csrf_meta_tag
  %body
    .header
      %h1
        %img{:src => '/images/logo.png', :title => 'Annoyr'}
        %span.subtitle We need a guy to do that thing with the stuff
      %nav
        = link_to 'Teams', teams_path
        = link_to 'People', people_path
        = link_to "Connect Twitter! (#{GlobalAccountSetting.twitter_on?})", connect_path, :confirm => 'This will ovveride the current twitter account. Are you SURE you want to annoy using this account?! Really sure?!'
        = link_to 'Settings', global_account_settings_path
        = link_to '@annoyrbot', "http://twitter.com/#!/annoyrbot", :class => 'twitter_link'
    .content
      = yield
    .footer
      Ping yo shizzle until ite gets /annnnnoyingg!/
